<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>my Cv</title>
		<link rel="stylesheet" href="static/css/clearfix.css">
		<link rel="stylesheet" href="static/css/style.css">
		<link rel="stylesheet" href="static/css/form.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&amp;subset=latin-ext" rel="stylesheet">
	</head>
	<body>

		<section id="top" class="Headinfo">
			<h1>My Cv</h1>
			<img src="static/images/ebet.jpg" class="avatar" width="200" alt="imageebet">
			<h2 id="name">Keisya Uthi Tabitha</h2>
			<p class="slogan">Enginnering. <strong>Informatics Engineering Student at Institut Teknologi Perusahaan Listrik Negara</strong></p><hr>

			<!-- NAVIGACE -->
			<nav class="navibar">
				<p class="navi_links">
					<a href="#Collage" class="menuitem" title="Skocit na vzdelani">About</a>
					<a href="#Knownlage" class="menuitem" title="Skocit na zkusenosti">Portfolio</a>
					<a href="#hobby" class="menuitem" title="Skocit na konicky">experience</a>
					<a href="#Contact" class="menuitem" title="Skocit na kontakt">Contact</a>
				</p>
			</nav>

		</section>
		<div class="content">
			<section id="Collage">
				<h2>About</h2>
				<article>
					<ul>
						<li>
							<h3>Hello! <em>about myself</em></h3>
							<p>saya adalah mahasiswa aktif semester 6, Jurusan Teknik Informatika.Memiliki kemampuan dalam kepemimpinan, berpikir kritis, mampu bekerja sama dengan tim dan mudah beradaptasi dengan hal baru. Sedang mencari kesempatan untuk mengembangkan kemampuan saya untuk mencari pengalaman didunia kerja bidang Teknologi IT dan Artificial Intelegence.</p>
						</li>
						<li>
							<h3>Skill <em>about mySkill</em></h3>
							<p>haloo. saya disini mempunyai skill selama mengikuti program Kampus Merdeka di pt Orbit Future Academy selama 1 semester. <strong>Python,HTML,JavaScript,Css,PHP,Tableau,MySQL,Photoshop</strong></p>
						</li>
					</ul>
				</article>
			</section>

			<section id="Knownlage">
				<h2>Portfolio</h2>
				<article>
					<ol>
						<li>
							<h3>Decision Tree (AI Fundamental) </h3>
							<p>Pada Project ini saya mengerjakan suatu permasalahan yang terdapat dilingkungan artificial Intelegence mengenai Decisio Tree ini yang ada domain Fundamental, bukan hanya Decisio Tree terdapat banyak algoritma yang terdapat di domain ini misalnya klasifikasi dan lain sebagainya.</p>
						</li>
						<li>
							<h3>Data Science</h3>
							<p>Project data science adalah sebuah proyek yang melibatkan penggunaan teknik-teknik dan algoritma-algoritma dalam ilmu data untuk menganalisis, mengolah, dan memanfaatkan data secara efektif. Proyek ini bertujuan untuk mengidentifikasi pola atau informasi yang terkandung dalam data dan mengambil keputusan yang tepat berdasarkan hasil analisis tersebut.</p>
						</li>
						<li>
							<h3>Computer Vision</h3>
							<p>Project Computer Vision adalah proyek yang menggunakan teknologi dan algoritma untuk memungkinkan komputer memahami, menginterpretasi, dan memproses gambar dan video dalam cara yang mirip seperti manusia. Proyek ini melibatkan penggunaan teknik-teknik seperti pengolahan citra, deep learning, dan neural networks untuk mengembangkan aplikasi dan sistem yang dapat mengenali objek, memperkirakan ukuran, mendeteksi gerakan, dan melakukan tugas lainnya yang berkaitan dengan pengolahan gambar.</p>
						</li>
						<li>
							<h3>NLP (Nature Language Processing) </h3>
							<p>Project NLP (Natural Language Processing) adalah proyek yang memanfaatkan teknologi dan algoritma untuk memungkinkan komputer memahami, menganalisis, dan memproses bahasa manusia secara alami. Proyek ini melibatkan penggunaan teknik-teknik seperti pemrosesan bahasa alami, machine learning, dan neural networks untuk mengembangkan aplikasi dan sistem yang dapat memahami dan memanipulasi teks dalam bahasa manusia. </p>
						</li>
						<li>
							<h3>RL (Reinforcement Learning) </h3>
							<p>Project Reinforcement Learning merupakan sebuah proyek yang bertujuan untuk mengembangkan sistem cerdas yang dapat belajar secara mandiri melalui interaksi dengan lingkungannya. Dalam proyek ini, algoritma pembelajaran mesin digunakan untuk mengoptimalkan perilaku agen (agent) dalam mencapai tujuan tertentu dalam suatu lingkungan yang kompleks. </p>
						</li>
					</ol>
				</article>
			</section>


			<section id="hobby" class="wrap">
				<h2>Experience(pengalaman)</h2>
				<div class="zaliba">
					<h3>AI Fundamental</h3>
						
					<p class="p-column design"> Experience at Kampus Merdeka PT.Orbit Future Academy. </p>
				</div>

				<div class="zaliba">
					<h3>Data Science</h3>
					<p class="p-column music">Experience at Kampus Merdeka PT.Orbit Future Academy.</p>
				</div>


				<div class="zaliba">
					<h3>Computer Vision</h3>
					<p class="p-column golf">Experience at Kampus Merdeka PT.Orbit Future Academy.</p>
				</div>

				<div class="zaliba snb">
					<h3>NLP</h3>
					<p class="p-column snb">Experience at Kampus Merdeka PT.Orbit Future Academy.</p>
				</div>
				<div class="zaliba">
					<h3>Reinforcement Learning</h3>
					<p class="p-column golf">Experience at Kampus Merdeka PT.Orbit Future Academy.</p>
				</div>
			</section>

			<section id="Contact" class="wrap">
				<h2>Contact</h2>
				<div class="form-wrap float-left">
					<span>Hubungi Saya:</span>
					<button id="contact-me" onclick="div_show()">Otevřít formulář</button>
					<div class="form-fixed" id="form-fixed"><!-- Contact Us Form -->
						<form class="popup-text" action="#" method="get"><!-- Napište mi -->
							<button class="close" onclick ="div_hide()">close</button>
							<fieldset class="form-item inline">
								<label class="input-txt-icon user" for="username">nama</label>
								<input type="text" name="username" id="username" placeholder="nama" required>
							</fieldset>
							<fieldset class="form-item inline">
								<label class="input-txt-icon mail" for="email">E-Mail </label>
								<input type="email" name="email" id="email" placeholder="E-Mail" required>
							</fieldset>
							<!-- <fieldset class="form-item">
								<label class="input-txt-icon pass" for="password">Zadejte sve heslo</label>
								<input type="password" name="password" id="password" placeholder="Vase heslo" required>
							</fieldset> -->
							<fieldset class="form-item">
								<label class="input-txt-icon message" for="msg">pesan</label>
								<textarea name="message" id="msg" placeholder="pesan" required></textarea>
							</fieldset>
							<fieldset class="center">
								<input type="checkbox" name="terms-agree-check" id="terms-agree" required>
								<label for="terms-agree">Silahkan <a href="#">Centang</a></label>
							</fieldset>
							<button class="submit">Submit</button>
						</form><!-- Contact Us Form Ends here -->
					</div>
				</div>

			<div class="other-contacts float-left">
				<span>MyContact:</span>
					<div class="contacts-container wrap">
						<ul class="contact_list float-left">
							<li>
								<a href="mailto:mamlas@koder.ru" class="kontakt">E-mail</a>
							</li>
							<li>
								<a href="tel:+81242669457" class="kontakt telefon">Telefon</a>
							</li>
							<!-- <li>
								<a href="spotify:user:spotify:playlist:37i9dQZF1DX2czWA9hqErK" class="kontakt portfolio" target="_blank">Portfolio</a>
							</li> -->
						</ul>
						<div class="float-left">
							<h5 class="kontakt adress">MyAdrees</h5>
							<address>
								Cengkareng<br>
								Jakarta Barat<br>
								Optik Bonie<br>
							</address>
						</div>
					</div>

					
			</div>

			</section>
		</div>

		<!-- Tlacitko NAHORU -->
		<a href="#top" class="btn" id="BackToTop" title="Skocit zpet na zacatek stranky">MyCVkey</a>

		<script>
			//Function To Display Contact Form
			function div_show() {
				document.getElementById("form-fixed").style.display = "block";
			}
			//Function to Hide Contact Form
			function div_hide(){
			document.getElementById('form-fixed').style.display = "none";
			}
		</script>
		
	</body>

</html>